@model Contact

@{
    string img_path = $"~/media/foto{@Model.ID}.jpeg";
}

<a asp-controller="Contact" asp-action="Details" asp-route-id="@Model.ID">
    <div class="Contact">
        <img src="@Url.Content(img_path)" alt="">
        <h4>@Model.Name <br> @Model.Surname</h4>
        <p>@Model.Location</p>
    </div>
</a>


