@{
    ViewData["Title"] = "Products";
}

@section MyCSS {
    <link href="~/css/main.css" rel="stylesheet" />
}


<div class="Card_Container">
    @foreach (Product product in ProductRepository.GetProducts()){
        <ul class="Card">
            <li class="Card_Main">
                <img src="@Url.Content(product.Image)" alt="">

                <h4>
                    @product.Name
                </h4>
                <p class="Card_Quantity">
                    @product.Quantity left
                </p>
                <p class="Card_Price">
                    @product.Price $
                </p>

            </li>
            <li>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@product.ID">
                    Details
                </a>
            </li>
        </ul>
    }


</div>