@model List<Course>

@foreach(Course course in Model)
{
	<div class="post post-thumb">
		<a class="post-img" asp-controller="Home" asp-action="CourseDetail" asp-route-id="@course.Id"  ><img src="~/img/post-2.jpg" alt=""></a>
		<div class="post-body">
			<div class="post-meta">
				<a class="post-category cat-3" asp-controller="Home" asp-action="CourseDetail" asp-route-id="@course.Id">@course.Category.Name</a>
				<span class="post-date">March 27, 2018</span>
			</div>
			<h3 class="post-title"><a asp-controller="Home" asp-action="CourseDetail" asp-route-id="@course.Id">@course.Name</a></h3>
		</div>
	</div>
}
