@{
    ViewData["Title"] = "Home Page";
}

@model List<Student>

<div class="row">
    @foreach (Student student in Model)
    {
        <div class="card border-primary mb-3 col-20 m-2" style="max-width: 18rem;">
            <div class="card-header">@student.StudentSubject.Name</div>
            <div class="card-body text-primary">
                <h5 class="card-title">@student.Name @student.Surname</h5>
                <h5 class="card-title text-warning">@student.Age years old</h5>
                <p class="card-text text-success">@student.StudentDetails.Payment</p>
                <p class="card-text text-secondary">@student.StudentDetails.Description</p>
            </div>
        </div>
    }
</div>