@using Lesson_56_HT.Enums;

@model City

@{
    string border_color;

    switch (Model.WorldPartName)
    {
        case WorldPart.Asia:
            border_color = "red";
            break;
        case WorldPart.America:
            border_color = "green";
            break;
        case WorldPart.Europe:
            border_color = "blue";
            break;
        default:
            border_color = "red";
            break;
    }

        }

<div class="card" style="width: 18rem; ">
    <img src="@Url.Content($"~/media/{Model.Name}/card_img.jpeg")" class="card-img-top" alt="...">
    <div class="card-body" style="box-shadow: 0px 0px 50px 2px @border_color">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.Description
        </p>
        <a asp-controller="City" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-primary">Start your trip</a>
    </div>
</div>